.title{
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 36pt;
}

.text{
    font-family: serif;
    font-size: 18pt;
    justify-content: center;
    margin:1% 10% 0 10%;
}

.text1{
    font-family: serif;
    font-size: 18pt;
    justify-content: center;
    margin:1% 10% 300px 10%;
}

.formMeal{
    margin: auto;
    margin-top: 50px;
}

.selection{
    display:flex;
    flex-direction: column;
}

#meal, #situation{
    padding: 10px;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 18pt;
    color: #fff;
    background-color: #6f0;
    border: 1px #fff solid;
    border-radius: 10px;
}

.btn{
    background-color: #6f0;
    font-family: 'Merriweather', serif;
    margin: auto;
    padding:10px;
    border: #fff solid 1px;
    border-radius: 10px;
}

#recipe{
    visibility: hidden;
    margin: 10px 20% 100px 20% ;
    padding: 10px;
    border: 1px solid #ddd;
    border-top-right-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
    color: #fff;
    background-color: #6f0;
}