.title{
    font-family: 'Merriweather', serif;
    text-align: center;
    color: #6f0;
    margin-top: 20px;
    font-size: 40pt;
    font-weight: 3000;
}

.infoBar{
    width:50%;
    margin: auto;
}

.topMenu{
    font-family: 'Merriweather', serif;
    font-size: 18pt;
    height: 50px;
    width: 32%;
    margin: -3px;
    background-color: blue;
    border-left:1px white solid;
    border-right:1px white solid;
    border-radius: 50px;
}

.startingContent{
    text-align: center;
    margin-top: 30px;
    font-family: 'Merriweather', serif;
    font-size: 20pt;
    font-weight: 200;
}

.image{
    margin: auto;
    height:30%;
    width:30%;
    margin-top: 30px;
    box-shadow: 20px 20px 10px #ddd;
}

.widget{
    display:flex;
    margin: auto;
    width:30%;
    margin-bottom: 100px;;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.lateral{
    height: 75px;
    width: 85px;
    padding: 5px;
    border-radius: 0px;
    border: 1px #ddd solid;
    background-color: #ddd;
    margin: 0px;
    border-top-right-radius: 15px 15px;
    border-bottom-left-radius: 15px 15px;
}

#bmi, .bmi{
    background-color: #6f0;
}    

.ideal,.calories, .water, .fat, .bmi{
    width:100%;
    border: 1px solid #ddd;
    border-top-right-radius: 30px 30px;
    border-bottom-left-radius: 30px 30px;
}

.ideal,.calories, .water, .fat{
    display: none;
}

table, th, td{
    border: 1px #ddd solid;
    margin: 10;
}

table{
    border-collapse: collapse;
    margin: auto;
}

tr:nth-child(even) {
  background-color: #dddddd;
}