{% extends "base.html" %}

{% block title%}
InShape - Healthy Meal
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aboutStyle.css') }}">
<script src="{{ url_for('static', filename='widget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='recipe.json') }}"></script>
{% endblock %}

{% block mainContent %}

<h1 class = title>Healthy Meal</h1>
<br>
<p class = text>Do you need an idea for a meal? You are in the right place. Select the type of meal,
     your situation, and you will have an idea for a healthy meal. Try it, now
    <br><br>
     Select the meal you are going to consume and what are your fisical goals.</p>
<br><br>
<div class = formMeal method="POST">
    <div class = selection>
    <p class = text>Choose the meal</p>
    <select id = meal name = meal>
        <option value = "brk">Breakfast</option>
        <option value = "lun">Lunch</option>
        <option value = "din">Dinner</option>
        <option value = "sna">Snack</option>
    </select>

    <p class = text>Choose your goals</p>
    <select id = situation name = situation>
        <option value = "lose">Lose weight</option>
        <option value = "main">Maintain weight</option>
        <option value = "gain">Gain weight</option>
    </select>
    </div>
    <br><br>
    <button class = btn onclick="getRecipe()">See the meal</button>
</div>

<div id = "recipe"></div>

{% endblock %}