{% extends 'base.html' %}

<!--https://stackoverflow.com/questions/61766673/on-click-of-the-button-my-page-reloads-why-->

{% block title%}
InShape - Home
{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='viewStyle.css') }}">
<script src="{{ url_for('static', filename='widget.js') }}"></script>
{% endblock %}

{% block mainContent %}
<h1 class = title>InShape - The source of wellness</h1>

<form class = infoBar method="POST">  
    <input type = "submit" value = "About" class = topMenu formaction="{{ url_for('view.about') }}">
    <input type = "submit" value = "Healthy Meals" class = topMenu formaction="{{ url_for('view.healthy') }}">
    <button value = "Your Plan" class = topMenu id = p>Your Plan (PRO)</button>
</form>

<img src = "{{ url_for('static', filename='fruit.jpg')}}" class = image>

<p class = startingContent>
    Welcome to InShape, the webapp into you can measure your wellness in a<br>
    scientific way, via recognized formulas and algorithms. Do you want to<br>
    return in shape, test how healthy you are, or are you only courios to<br>
    know a little bit more about science behind an healthy life? <br> 
    You are in the right place! 
</p>

<div class = widget>
    <div class = buttons>
        <button class = lateral id = bmi onclick="change(0)">BMI</button>
        <button class = lateral id = ideal onclick="change(1)">Ideal weight</button>
        <button class = lateral id = calories onclick="change(2)">Calories requirement</button>
        <button class = lateral id = water onclick="change(3)">Water requirement</button>
        <button class = lateral id = fat onclick="change(4)">Body fat percentage</button>
    </div>

    <div class = calculator>
        <div class = bmi id = b>
            <h1 class = subT>BMI calculator</h1>
            <p>The BMI (body mass index) is and index that tells you if
                 your weight is good or not. Here is the table for results:
                 </p>
                <table>
                    <tr>
                        <th><b>BMI</b></td>
                        <th><b>Condition</b></td>
                    </tr>

                    <tr>
                        <td>&lt;16.5</td>
                        <td>Seriusly underweight</td>
                    </tr>

                    <tr>
                        <td>16.5-18.5</td>
                        <td>Underweight</td>
                    </tr>

                    <tr>
                        <td>18.5-24.5</td>
                        <td>In shape</td>
                    </tr>

                    <tr>
                        <td>24.5-30</td>
                        <td>Overweight</td>
                    </tr>

                    <tr>
                        <td>>30</td>
                        <td>Obese</td>
                    </tr>
                </table>
                <!--form with required entry-->
            <p>Insert your height (in meters):</p>
            <input type = "text" id = bmiHeight>
            <p>Insert your weight (in kilograms):</p>
            <input type = "text" id = bmiWeight>
            <br><br>
            <button value = calculate onclick="calculateBMI()">Calculate</button>
            <br><br>
            <p id = bmiResult></p> 
        </div>

        <div class = ideal id = i>
            <h1 class = subT>Ideal weight</h1>
            <p>All we have our weight, but we don't know if it is too low 
            or too high. The ideal weight is a weight calculated using your age,
            your height and your gender. This is the weight we should have to be in shape
            This calculation is made by using the Lorentz formula, Perrault formula 
            and Keys formula. The Lorentz formula doesn't count age, but is preatty 
            accurate and really used. The Key formula does the same, and is the reccomended
            one. The Perrault formula count also age, but tend to overestimate the result
            An average around the three, is probably the best thing</p>
            <p>Insert your height (in centimeters):</p>
            <input type = "text" id = idealHeight>
            <p>Gender:</p>
            <select id = idealGender>
                <option value = "m">Male</option>
                <option value = "f">Female</option>
            </select>
            <p>Insert your age :</p>
            <input type = "number" id = idealAge>
            <br><br>
            <button value = calculate onclick="calculateIdeal()">Calculate</button>
            <p id = idealResult></p>
        </div>

        <div class = calories id = c>
            <h1 class = subT>Calories requirement</h1>
            <p> Calories are used as fuel from our body. They are necessary for our
            life. When you consume too little calories, your body fat reduces, when you
            consume too much, your fat increase. So, is necessary know the correct 
            ammount of calories to consume. It depends on your ideal weight, your gender
            and how much calories you burn during the day</p>
                <p>Insert your <b>ideal</b> weight (in kilograms):</p>
                <input type = "text" id = caloriesWeight>
                <p>Insert your height (in centimeters):</p>
                <input type = "text" id = caloriesHeight>
                <p>Gender:</p>
                <select id = caloriesGender>
                    <option value = "m">Male</option>
                    <option value = "f">Female</option>
                </select>
                <p>Age:</p>
                <input type = "text" id = caloriesAge>
                <p>Type of work:</p>
                <select id = caloriesWork>
                    <option value = "sed">Sedentary</option>
                    <option value = "qhe">Quite heavy</option>
                    <option value = "hev">Heavy</option>
                </select>

                <p>Wourkout</p>
                <select id = caloriesWorkout>
                    <option value = "sed">Less than 2hrs a week</option>
                    <option value = "qhe">Beetween 2 and 5 hrs a week</option>
                    <option value = "hev">Over 5hrs a week</option>
                </select>
                <br><br>
                <button value = calculate onclick="calculateCalories()">Calculate</button>
                <p id = caloriesResult></p>
        </div>

        <div class = water id = w>
            <h1 class = subT>Water requirement</h1>
            <p>Water is one of the most important think we consume.
               There is a formula that shows how much water we should drink.
               The formula is the following </p>
            <p>weight(in kilograms)*30ml</p>
            <p>Insert your actual weight:</p>
            <input type = "text" id = waterWeight>
            <br><br>
            <button value = calculate onclick="calculateWater()">Calculate</button>
            <p id = waterResult></p>
        </div>

        <div class = fat id = f>
            <h1 class = subT>Body fat percentage</h1>
            <p>Your fat percentage show you simply if you have too much fat in your body.
               We will use the Wilmore formula. Here is the table to compare your results</p>
                <table>
                    <tr>
                        <th></td>
                        <th><b>Male</b></td>
                        <th><b>Female</b></th>
                    </tr>

                    <tr>
                        <td>Athletes</td>
                        <td>5.0-13.0</td>
                        <td>12.0-16.0</td>
                    </tr>

                    <tr>
                        <td>Preatty active persons</td>
                        <td>13.0-18.0</td>
                        <td>16.0-25.0</td>
                    </tr>

                    <tr>
                        <td>Overweight</td>
                        <td>19.0-24.0</td>
                        <td>25.0-31.0</td>
                    </tr>

                    <tr>
                        <td>Obese</td>
                        <td>>24.0</td>
                        <td>>31.0</td>
                    </tr>
                </table>
            <p>Insert your height (in centimeters):</p>
            <input type = "text" id = fatHeight>
            <p>Gender:</p>
            <select id = fatGender>
                    <option value = "m">Male</option>
                    <option value = "f">Female</option>
            </select>
            <p>Insert waist circumference:</p>
            <input type = "text" id = waistFat>
            <p>Insert neck circumference:</p>
            <input type = "text" id = neckFat>
            <p>Insert flanks circumference:</p>
            <input type = "text" id = flanksFat>
            <br><br>
            <button value = calculate onclick="calculateFat()">Calculate</button>
            <p id = fatResult></p>
        </div>
    </div>
</div>
{% endblock%}