{% extends "base.html" %}
{% block title %}InShape - Journey{% endblock %}

{% block extra %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='j.css')}}">
{% endblock %}

{% block mainContent %}
<div id = "topBar" style = "background-color: greenyellow;height: 70px;width: 100%;display: flex;flex-direction: row;"> 
    <a class="out" href="/logout" style="text-decoration: none;font-size: 15pt;color: black;padding: 10px;border:1px solid red;">Logout</a>
</div>
<h1>Your Journey</h1>

<p style="margin-bottom: 200px;">Here you can keep track of your weight, and graphically see how it is going</p>

<!--Make the graphics-->

{% endblock %}