{% extends "base.html" %}
{% block title %}InShape - Journey{% endblock %}

{% block extrahead %}
<script src="{{url_for('static', filename='node_modules/chartjs/dist/chart.js')}}"></script>
{% endblock %}

{% block mainContent %}
<div id = "topBar" style = "background-color: greenyellow;height: 70px;width: 100%;display: flex;flex-direction: row;"> 
    <a class="out" href="/logout" style="text-decoration: none;font-size: 15pt;color: black;padding: 10px;border:1px solid red;">Logout</a>
</div>
<h1>Your Journey</h1>

<p style="margin-bottom: 200px;">Here you can keep track of your weight, and graphically see how it is going</p>

<canvas id = "myChart" height="400" width ="400" style="border: 1px solid black;"></canvas>

<form method="post" style="margin-bottom: 200px;">
    <input type="text" name = "value">
    <input type="submit" value = "Add value" class="btn">
</form>

<script>

data = {};

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: data});
</script>
{% endblock %}