{% extends "base.html" %}
{% block title %}InShape - Login {% endblock %}

{% block extra %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='loginStyle.css') }}">
{% endblock %}

{% block mainContent %}
{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <p>{{message}}</p>
    {% endfor %}
{% endif %}
{% endwith %}
<div class = general style="margin-bottom: 200px;">
    <form method="post">
    <!--Scritta login e robe simili-->
    <h1 class = LoginTitle>Login</h1>

    <!--Nome utente-->
    <div>
        <p class = rubtext>Nome utente</p>
        <!--Nome utente-->
        <input type="text" placeholder = "Nome Utente " class = enter name="username">
    </div>

    <div>
        <p class = rubtext>Password</p>
        <!--Password-->
        <input type = "password" minlenght=6 placeholder="Password" class=enter name="psw" required>
    </div>
        <!--Bottone conferma-->
        <button type="submit" class = submit>Conferma</button>
        <br><br>
        <a href="signup" style="margin-bottom: 100px;">Non hai un account?</a>
    </form>
</div>
{% endblock %}